@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>This Stylist will be deleted, do you wish to continue?</h2>

@Html.DisplayNameFor(model => model.StylistName): @Html.DisplayFor(model => model.StylistName)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn" class="delete" />
}


<h5>@Html.ActionLink("Back to Stylists", "Index")</h5>
