body, html {
  background-image: url("https://images.unsplash.com/photo-1585747860715-2ba37e788b70?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmFyYmVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
  background-repeat: no-repeat;
  background-position: relative;
  background-size: cover;
  overflow: auto;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'El Messiri', sans-serif;
  color: black;
  text-shadow: 0.8px 0px rgb(255, 232, 181);
  font-weight: bold;
  text-align: center;
}

.salon_logo {
  background-image: url("https://thebiz.me/wp-content/uploads/2020/11/luxury-hair-salon-logo.jpeg");
  height: 435px;
  width: 1080px;
  align-content: center;
  border-radius: 20px 20px;
  margin: 0 auto;
  background-position-y: -280px;
}

.container {
  background: rgb(250,151,23);
  background: radial-gradient(circle, rgba(250,151,23,0.7488037451308649) 0%, rgba(0,0,0,0.7768149496126575) 100%);
  padding: 30px 30px;
  border-radius: 15px 15px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.client_list {
  padding-left: 487px;
  text-align: left;
  margin-bottom: 30px;
}

.stylist_list {
  padding-left: 515px;
  text-align: left;
  margin-bottom: 30px;
}

h5 {
  color: rgb(248, 212, 167);
  text-shadow: 1px 0px rgb(0, 0, 0);
}

.btn{
background-color: rgb(34, 18, 2);
color: rgb(241, 164, 70);
margin-bottom: 20px;
}

h1, h2 {
  text-shadow: 1.5px 0px rgb(255, 232, 181);
  margin-bottom: 30px;
}