@{
  Layout = "_Layout";
}
<div class="salon_logo"></div>
<h2>A stylist-client organizing application</h2>
<h3>manage your stylists and clients</h3>

<h4>@Html.ActionLink("See all Stylists", "Index", "Stylists")</h4>
<h4>@Html.ActionLink("See all Clients", "Index", "Clients")</h4>