@{
  Layout = "_Layout";
}

<h1>Eau Claire's Salon</h1>
<div class="salon_logo"></div>
<h2>A stylist-client organizing application</h2>
<h3>manage your stylists and clients</h3>

<h6>@Html.ActionLink("See all Stylists", "Index", "Stylists")</h6>
<h6>@Html.ActionLink("See all Clients", "Index", "Clients")</h6>